.custom-special-date {
    background-color: white; /* רקע לבן */
    color: black; /* טקסט שחור */
    border: 2px solid #999; /* גבול אפור */
    border-radius: 50%; /* עיגול */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
}

.custom-special-date:hover {
    background-color: #666; /* אפור כהה בריחוף */
    color: white; /* טקסט לבן בריחוף */
    cursor: pointer;
}





