.custom-special-date {
    background-color: white; /* רקע לבן */
    color: black; /* טקסט שחור */
    border: 2px solid #999; /* גבול אפור */
    border-radius: 50%; /* עיגול */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
}

.custom-special-date:hover {
    background-color: #666; /* אפור כהה בריחוף */
    color: white; /* טקסט לבן בריחוף */
    cursor: pointer;
}

/* In your CSS file */
.p-menubar {
    background: transparent !important; /* Make menu background transparent */
}

.p-menuitem {
    padding: 0.5rem; /* Adjust padding as needed for a better layout */
}

/* Your specific styles to prevent the sidebar from stretching too far */
.menu-container {
    max-height: fit-content; /* Ensures the menu doesn’t stretch too long */
    overflow: hidden; /* Prevent any overflow */
}





