.custom-special-date {
    background-color: white; 
    color: black; 
    border: 2px solid #999; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
}

.custom-special-date:hover {
    background-color: #666;
    color: white; 
    cursor: pointer;
}


.p-menubar {
    background: transparent !important;
}

.p-menuitem {
    padding: 0.5rem; 
}


.menu-container {
    max-height: fit-content; 
    overflow: hidden;
}





